<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>左固定右自适应</title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        .leftNav{
            height: 600px;
            width: 150px;
            background: #ff8040;
            float: left;
        }
        .right{
            width: 100%;
            height: 600px;
            margin-left: 150px;
            background: #0080ff;
        }
        .container{
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="leftNav">leftNav</div>
        <div class="right">margin-left:150px;有部分盒模型(margin-left部分)重合</div>
    </div>
</body>
</html>