<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>左固定右自适应实现2</title>
    <style>
       body{
           padding: 0;
           margin: 0;
       }
       .left{
           width: 200px;
           float: left;
           height: 600px;
           background: #ff8000;
       }
       .right{
           width: 100%;
           height: 600px;
           margin-left: -200px;
       }
       .right-wrap{
           margin-left: 200px;
           height: 100%;
           background: #0080ff;
       }
    </style>
</head>
<body>
    <div class="container">
        <div class="left"></div>
        <div class="right">
            <div class="right-wrap">asdsd</div>
        </div>
    </div>
</body>
</html>